<% @merchant.bulk_discounts.each do |bulk_discount| %>
    <h2> Bulk Discount - <%=bulk_discount.id%> </h2>
    <ul>
        <li> Percentage discount: <%=float_to_percent(bulk_discount.percentage_discount)%> </li>
        <li> Quantity threshold: <%=bulk_discount.quantity_threshold%> </li>
    </ul>    
<%end%>